 
<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Criar Grupos</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Grupos </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                Criar Grupo
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <!--href="javascript:void(0)"-->
          <a class=" btn btn-sm btn-neutral" [routerLink]="['/grupos/lista']"> Lista de Grupos </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Inicio do Form -->
<div class=" container-fluid mt--6">
  <div class=" card mb-6">
    <div class=" card-header">
      <h3 class=" mb-0">Grupo</h3>
    </div>

    <div class=" card-body">
      <!-- inicio da Row -->
      <form novalidate [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <div class=" row">
       
          <div class=" col-md-6">
            <div class=" form-group">
              <label class=" form-control-label" for="nome">
                Nome do Grupo
              </label>

              <input class=" form-control" [ngClass]="{'is-invalid':verificaValidTouched('nome') }" id="nome"
                placeholder="Nome da Permissão" type="text" formControlName="nome" />
              <app-error-msg [control]="cadastroForm.get('nome')" label="Nome"></app-error-msg>
              <!--app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
               </app-campo-control-erro -->
            </div>
          </div>
        </div>

        <div class="form-group text-right">
          <span>
            <!-- [disabled]="!cadastroForm.valid" -->
            <button class="btn btn-success" id="registrar" [disabled]="!cadastroForm.valid" type="submit">Registrar
            </button>
          </span>
          <span>
            <button class="btn" id="cancelar" (click)="resetar()">Limpar
            </button>
          </span>
          <span>
            <!-- [disabled]="!cadastroForm.valid" -->
            <button class="btn " id="cancelar" (click)="canecelar()" type="submit">Cancelar
            </button>
          </span>
        </div>

        <app-form-debug [form]="cadastroForm"></app-form-debug>
      </form>
    </div>
  </div>
</div>