<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Calendar'" [items]="[]" [active_item]="'Calendar'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <div class="m-b-25">
                  <button mat-raised-button color="primary" (click)="addNewEvent()">Adicionar Novo Agendamento</button>
                </div>
                <!-- <h5>My Calendars</h5>
                <div class="filter-container">
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button ml-0 filter" *ngFor="let filter of filters"
                      [value]="filter.name" [checked]="filter.checked ==='true'" (change)="changeCategory($event)">
                      {{filter.value}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="panel-body">
                  <full-calendar #calendar defaultView="timeGridDay" [header]="{
                                        left: 'prev,next today',
                                        center: 'title',
                                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                                      }" [plugins]="calendarPlugins" [weekends]="calendarWeekends"
                                 [locales]="locales"
                                 locale="pt-br"
                                 (eventRender)="handleEventRender($event)" (eventClick)="eventClick($event)"
                                 [events]="calendarEvents" (dateClick)="addNewEvent()">
                  </full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
