<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <!-- <h6 class=" header pb-6h2 d-inline-block mb-0">Form elements</h6> -->

          <!-- <nav
                aria-label="breadcrumb"
                class=" d-none d-md-inline-block ml-md-4"
              >
                <ol class=" breadcrumb breadcrumb-links">
                  <li class=" breadcrumb-item">
                    <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                  </li>
    
                  <li class=" breadcrumb-item">
                    <a href="javascript:void(0)"> Forms </a>
                  </li>
    
                  <li aria-current="page" class=" breadcrumb-item active">
                    Form elements
                  </li>
                </ol>
              </nav> -->
        </div>

        <!-- <div class=" col-lg-6 col-5 text-right">
              <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
    
              <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
                Filters
              </a>
            </div> -->
      </div>
    </div>
  </div>
</div>
<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card-wrapper">
        <div class=" card">
          <div class=" card-header">
            <h3 class=" mb-0" style="color:red"> Informação </h3>
          </div>

          <div class=" card-body">
            <div class=" row">

              <div class="col-lg-12 text-center">
                <h1 class="display-3" style="color:red">Opa :( Ocorreu um erro!</h1>
                <h2 class="display-3">Acesso Negado</h2>
                <!-- <p class="lead"> -->
                <p class=" mb-0">
                  Você não possui acesso para efetuar a ação que deseja, caso seja necessario entrar em contato com
                  administrador.
                </p>
                <!-- <div class="btn-wrapper">
                  <a [routerLink]="['/home']" class="btn btn-primary">Voltar para Home</a>
                  <a href="https://nucleoapp.com/?ref=1712" [routerLink]="['/dashboard']"
                    class="btn btn-default mt-3 mt-md-0">Voltar para Painel</a>
                </div> -->
              </div>

            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>