 
<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Criar Usuário</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Usuários </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                Criar Usuário
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <!--href="javascript:void(0)"-->
          <a class=" btn btn-sm btn-neutral" [routerLink]="['/usuarios/lista']"> Lista de Usuários </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Inicio do Form -->
<div class=" container-fluid mt--6">
  <div class=" card mb-6">
    <div class=" card-header">
      <h3 class=" mb-0">Usuario</h3>
    </div>

    <div class=" card-body">
      <!-- inicio da Row -->
      <form novalidate [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <div class=" row">
       
          <div class=" col-md-6">
            <div class=" form-group">
              <label class=" form-control-label" for="nome">
                Nome do Usuário
              </label>

              <input class=" form-control" [ngClass]="{'is-invalid':verificaValidTouched('nome') }" id="nome"
                placeholder="Nome do Usuário" type="text" formControlName="nome" />
              <app-error-msg [control]="cadastroForm.get('nome')" label="Nome"></app-error-msg>
              <!--app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
               </app-campo-control-erro -->
            </div>
          </div>

          <div class=" col-sm-12 col-md-6">
            <div class=" form-group">
              <label class=" form-control-label" for="email">
                E-mail:
              </label>

              <input class=" form-control" [ngClass]="{'is-invalid':verificaValidTouched('email') }" id="email"
                placeholder="E-mail" type="text" formControlName="email" />
                <app-error-msg [control]="cadastroForm.get('email')" label="Email"></app-error-msg>
                <app-campo-control-erro [mostrarErro]="cadastroForm.get('email').status === 'PENDING'"
                msgErro="Validando email...">
              </app-campo-control-erro>
              <!-- <app-campo-control-erro [mostrarErro]="cadastroForm.get('email').status === 'VALID'"
                msgErro="Email válido!">
              </app-campo-control-erro> -->
            </div>
          </div>

        </div>

      
        <div class=" row">
          <div class=" col-md-6">
            <div class=" form-group">
              <label class=" form-control-label" for="senha">
                Senha:
              </label>

              <input class="form-control" placeholder="Senha" type="password" formControlName="senha" name="senha" (focus)="focus = true" (blur)="focus = false" />
            <app-error-msg [control]="cadastroForm.get('senha')" label="Senha"></app-error-msg>
            </div>
          </div>
        </div>

        <div class="form-group text-right">
          <span>
            <!-- [disabled]="!cadastroForm.valid" -->
            <button class="btn btn-success" id="registrar" [disabled]="!cadastroForm.valid" type="submit">Registrar
            </button>
          </span>
          <span>
            <button class="btn" id="cancelar" (click)="resetar()">Limpar
            </button>
          </span>
          <span>
            <!-- [disabled]="!cadastroForm.valid" -->
            <button class="btn " id="cancelar" (click)="canecelar()" type="submit">Cancelar
            </button>
          </span>
        </div>

        <app-form-debug [form]="cadastroForm"></app-form-debug>
      </form>
    </div>
  </div>
</div>