<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradiente-blue pt-2 pb-70">
    <nav id="navbar-main" class="pb-70 navbar navbar-horizontal navbar-main navbar-expand-lg navbar-light">
      <div class="container">
        <div class="auth-logo">
          <a class="logo-brand">
            <img src="assets/img/icon-logo.png" [width]="55" width="" alt=""/>
            <span class="logo-name">GesPolítica</span>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse navbar-custom-collapse collapse" id="collapseBasic" [collapse]="isCollapsed"
             id="navbarSupportedContent">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-8 collapse-brand">
                <a [routerLink]="['/home']">
                  <img src="assets/img/icon-logo.png" class="img-mobile" [width]="55" width="" alt=""/>
                  <span class="logo-mobile">GesPolítica</span>
                </a>
              </div>
              <div class="col-4 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse"
                        aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation"
                        (click)="isCollapsed = !isCollapsed">
                  <span></span> <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav mr-auto">
          </ul>
          <!--Menu-->
          <ul [ngSwitch]="usuarioLogado()" class="navbar-nav align-items-lg-center ml-lg-auto">
            <li *ngSwitchCase="false" class="nav-item d-lg-block ml-lg-4">
              <a class="btn btn-portal btn-icon" routerLinkActive="active" [routerLink]="['/portal/login']">
            <span class="btn-inner--icon">
              <!-- <i class="fas fa-shopping-cart mr-2"></i> -->
              <i class="fas fa-sign-in-alt mr-2"></i>
            </span>
                <span class="nav-link-inner--text">ACESSE SUA CONTA</span>
              </a>
            </li>
            <!-- </ul> -->

            <!-- User -->
            <!-- <ul class="navbar-nav align-items-center ml-auto ml-md-0"> -->

            <li *ngSwitchCase="true" class="nav-item d-none d-lg-block ml-lg-4">
              <a class="btn btn-portal btn-icon" routerLinkActive="active" [routerLink]="['/dashboard']">
            <span class="btn-inner--icon">
              <!-- <i class="fas fa-shopping-cart mr-2"></i> -->
              <i class="fas fa-columns mr-2 text-white"></i>
            </span>
                <span class="nav-link-inner--text text-white">PAINEL</span>
              </a>
            </li>

            <li *ngSwitchCase="true" class="nav-item dropdown" dropdown placement="bottom-right">
              <a class="nav-link pr-0 dropdown-toggle" role="button" dropdownToggle>
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="assets/img/theme/team-4.jpg"/>
                  </span>
                      <div class="media-body ml-2 d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold" style="color: #1e1e1e !important;">{{user}}</span>
                      </div>
                  <a href="javascript:void()" (click)="logout()" class="sair">
                    <i class="ni ni-user-run ml-5 font-weight-bold"></i> <span>Sair</span>
                  </a>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-arrow d-none dropdown-menu-right" *dropdownMenu>
                <div class=" dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Bem Vindo!</h6>
                </div>
                <a routerLinkActive="active" (click)="onProfile()" class="dropdown-item">
                  <i class="ni ni-single-02"></i> <span>Minha Conta</span>
                </a>
                <!-- <a
                  routerLinkActive="active"
                  [routerLink]="['/user-profile']"
                  class="dropdown-item"
                >
                  <i class="ni ni-settings-gear-65"></i> <span>Settings</span>
                </a>
                <a
                  routerLinkActive="active"
                  [routerLink]="['/user-profile']"
                  class="dropdown-item"
                >
                  <i class="ni ni-calendar-grid-58"></i> <span>Activity</span>
                </a>
                <a
                  routerLinkActive="active"
                  [routerLink]="['/portal/user-profile']"
                  class="dropdown-item"
                >
                  <i class="ni ni-support-16"></i> <span>Support</span>
                </a> -->
                <div class="dropdown-divider"></div>
                <a href="javascript:void()" (click)="logout()" class="dropdown-item">
                  <i class="ni ni-user-run"></i> <span>Sair</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="header-body pb-5">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="pr-5">
              <h1 class="display-2 jss1162 text-black mb-0">
                Software para Gestão de Conhecimento Político
              </h1>
              <h2 class="display-4 text-black font-weight-light mt-4">
                Crie uma base eleitoral poderosa <br/>  
                Conquiste novos eleitores, converse com eles de forma personalizada e saiba quantos votos perdidos, conquistados e a conquistar você tem na sua base.
             
              </h2>
              <p class="text-text-black banner-info-text mt-4">
                <!--                - O paciente pode ter acesso as Consultas efetuadas, tendo historico de atendimentos. <br/>-->
               </p>
              <div class="mt-5">
                <a
                  [routerLink]="['/portal/login']"
                  class="btn btn-portal my-2"
                >COMECE AGORA</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 pb-5">
            <img class="img-fluid img-auto ls-is-cached lazyloaded" style="margin-left: 140px; width: 350px;"
            src="/assets/img/animated-screen-2.svg">
            <img class="img-fluid img-auto ls-is-cached lazyloaded" style="margin-top: -120px;"
                 id="cross-platform"
                 src="/assets/img/animated-screen-1.svg">
                 <!-- <img class="img-fluid img-auto ls-is-cached lazyloaded" id="cross-platform"
                 src="/assets/img/banner_image.png"> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg pt-lg-0 mt--6">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <div class="card box card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape bg-gradient-primary text-white rounded-circle mb-4"
                  >
                    <i class="fas fa-globe"></i>
                  </div>
                  <h4 class="h2 text-black text-uppercase">
                    100% on-line
                  </h4>
                  <p class="description mt-3">
                    Gerenciamento completo, onde quer que você esteja, por meio do computador, tablet ou celular.
                  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card box card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape bg-gradient-success text-white rounded-circle mb-4"
                  >
                    <i class="fas fa-user-check"></i>
                  </div>
                  <h4 class="h2 text-black text-uppercase">
                    Painel Eleitorado
                  </h4>
                  <p class="description mt-3">
                    Cadastre todos os seus eleitores, segmente-os por interesses e localização, saiba quem são e mantenha uma base sempre atualizada.
                  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card box card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape bg-gradient-warning text-white rounded-circle mb-4"
                  >
                    <i class="fas fa-tv"></i>
                  </div>
                  <h4 class="h2 text-black text-uppercase">
                    Agenda do Candidato
                  </h4>
                  <p class="description mt-3">
                    Crie a agenda do candidato e compartilhe com a equipe. Organize os eventos e veja as informações no seu celular.
                  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <div class="card box card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape bg-gradiente-red text-white rounded-circle mb-4"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                  <h4 class="h2 text-black text-uppercase">
                    Segmentações
                  </h4>
                  <p class="description mt-3">
                    Crie listas de segmentações e utilize-as para fazer envios de e-mail e SMS de forma mais assertiva.
                  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card box card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape bg-gradiente-Yellow text-white rounded-circle mb-4"
                  >
                    <i class="fas fa-sms"></i>
                  </div>
                  <h4 class="h2 text-black text-uppercase">
                    Disparos de E-mail e SMS -  <span style="font-size: 8px;">(Em Desenvolvimento) </span>
                  </h4>
                  <p class="description mt-3">
                    Envie E-mails e SMS em apenas alguns cliques. Além de contar com uma configuração de disparos automatizados, como aniversário.
                  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card box card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape bg-gradiente-black text-white rounded-circle mb-4"
                  >
                    <i class="fas fa-map-marked"></i>
                  </div>
                  <h4 class="h2 text-black text-uppercase">
                    Geoprocessamento
                  </h4>
                  <p class="description mt-3">
                    Visualize e cruze informações em um mapa geográfico para uma campanha efetiva na região que mais precisa de sua atenção.
                  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<!-- Footer -->
<footer class="py-5" id="footer-main">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-12">
        <div class="container text-center">
          Todos os direitos reservados &copy; {{ test | date: "yyyy" }} - GesPolítica - Software para Gestão de Conhecimento Político - Desenvolvido por - Jhonny Scerni

        </div>
      </div>
    </div>
  </div>
</footer>
