<!-- <section class="py-2"> -->
<section>
    <div class=" header bg-danger pb-6">
        <div class=" container-fluid">
            <div class=" header-body">
                <!-- <div class="container"> -->
                <div class=" row align-items-center py-4">
                    <div class=" col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class=" d-none d-md-inline-block" style="margin-right: 1.5rem">
                            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class=" breadcrumb-item">
                                    <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                                </li>
                            </ol>
                        </nav>
                        <h6 class=" h2 text-white d-inline-block mb-0">Meus Usuários</h6>
                        <!-- <nav
                          aria-label="breadcrumb"
                          class=" d-none d-md-inline-block ml-md-4"
                          >
                       <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                             <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                             </li>
                             <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> Tables </a>
                             </li>
                             <li aria-current="page" class=" breadcrumb-item active">
                                Tables
                             </li>
                          </ol> 
                       </nav>-->
                    </div>
                    <div class=" col-lg-6 col-5 text-right">
                        <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"
                            [routerLink]="['/usuarios/adicionar']">
                            Criar Usuário </a>
                        <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="onRefresh()">
                            Atualizar </a> -->
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <!-- Inicio do Form -->
    <div class=" container-fluid mt--6">
        <div class=" card mb-6">
            <div class=" card-header">
                <h3 class=" mb-0">Filtro de Pesquisa</h3>
            </div>

            <div class=" card-body">
                <!-- inicio da Row -->
                <form novalidate [formGroup]="searchForm">
                    <div class=" row">

                        <div class=" col-md-5">
                            <div class=" form-group">
                                <!-- <label class=" form-control-label" for="nome">
                                    Nome do Usuário
                                </label> -->

                                <input class=" form-control" id="userName" placeholder="UserName" type="text"
                                    formControlName="usernamecontrol" />
                            </div>
                        </div>

                        <div class=" col-sm-12 col-md-5">
                            <div class=" form-group">
                                <!-- <label class=" form-control-label" for="email">
                                    E-mail:
                                </label> -->

                                <input class=" form-control" id="email" placeholder="E-mail" type="text"
                                    formControlName="emailControl" />
                            </div>
                        </div>

                        <div class="col-md-2 form-group text-center">
                            <div>
                                <label class=" form-control-label">
                                </label>
                                <span>
                                    <button class="btn btn-success form-control" (click)="onSearch()">Pesquisar</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class=" container-fluid mt--5">
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header border-0">
                        <h3 class=" mb-0">Lista de Usuários</h3>
                    </div>
                    <div class=" table-responsive">
                        <!--(users$ | async) as users; else loadingError-->
                        <table class=" table align-items-center table-flush table-striped"
                            *ngIf="users; else loadingError">
                            <thead class=" thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>VOTO</th>
                                    <th>NOME</th>
                                    <th>USERNAME</th>
                                    <th>EMAIL</th>
                                    <th>TELEFONE</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let usuario of users | paginate: { itemsPerPage: size,
                                                                                                    currentPage: page,
                                                                                                    totalItems: totalElements }">
                                    <td><span class=" text-muted"> {{ usuario?.id }}</span></td>
                                    <td><span class=" text-muted"> {{ usuario?.person?.vote }} </span>
                                    <td><span class=" text-muted"> {{ usuario?.person?.name }} </span>
                                    <td><span class=" text-muted"> {{ usuario?.username }}</span></td>
                                    <td><span class=" text-muted"> {{ usuario?.person?.email }} </span>
                                    <td><span class=" text-muted"> {{ usuario?.person?.phoneNumber }} </span>
                                    </td>
                                    <td class=" table-actions">
                                        <a class="table-action" tooltip="Editar usuario" placement="top"
                                            href="javascript:void(0)" (click)="onEdit(usuario.id)">
                                            <i class=" fas fa-user-edit"> </i>
                                        </a>
                                        <a class=" table-action table-action-delete" tooltip="Deletar usuario"
                                            placement="top" href="javascript:void(0)" (click)="onDelete(usuario)">
                                            <i class=" fas fa-trash"> </i>
                                        </a>
                                        <a class="table-action" tooltip="Detalhes usuario" placement="top"
                                            href="javascript:void(0)" (click)="onDetalhe(usuario.id)">
                                            <i class="fas fa-cogs"></i>
                                        </a>
                                        <a class="table-action" tooltip="Link Padrinho" placement="top"
                                           href="javascript:void(0)" (click)="onPadrinho(usuario.person.id)">
                                            <i class="fas fa-cogs"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- <ng-template #loading>
                            <span>Carregando Eventos...</span>
                        </ng-template> -->

                        <ng-template #loadingError>
                            <div *ngIf="error$ | async; else loading">
                                Erro ao carregar usuarios. Tente novamente mais tarde.
                            </div>
                            <ng-template #loading>
                                <div class=" card-body">
                                    <div class=" row py-3 align-items-center">
                                        <div class=" col-sm-9">
                                            <h4 class=" mb-0">Carregando Usuarios...</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-template>
                    </div>

                    <div class=" card-footer py-4 text-center ngx-pagination">
                        <pagination-controls previousLabel="Anterior"
                        nextLabel="Próximo" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>