<!-- <section class="py-2"> -->
<section>
    <div class=" header bg-danger pb-6">
        <div class=" container-fluid">
            <div class=" header-body">
                <!-- <div class="container"> -->
                <div class=" row align-items-center py-4">
                    <div class=" col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class=" d-none d-md-inline-block" style="margin-right: 1.5rem">
                            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class=" breadcrumb-item">
                                    <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                                </li>
                            </ol>
                        </nav>
                        <h6 class=" h2 text-white d-inline-block mb-0">Pessoas</h6>
                    </div>
                    <div class=" col-lg-6 col-5 text-right">
                        <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"
                           [routerLink]="['/pessoas/adicionar']">
                            Criar Pessoa </a>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <div class=" container-fluid mt--6">
        <div class=" row">
            <div class=" col">
                <div class=" card">
                    <div class=" card-header border-0">
                        <h3 class=" mb-0">Lista de Pessoas</h3>
                    </div>

                    <div class=" table-responsive">
                        <!--(users$ | async) as users; else loadingError-->
                        <table class=" table align-items-center table-flush table-striped"
                               *ngIf="persons; else loadingError">
                            <thead class=" thead-light">
                            <tr>
                                <th>ID</th>
                                <th>VOTO</th>
                                <th>NOME</th>
                                <th>EMAIL</th>
                                <th>TELEFONE</th>
                                <th>USUARIO</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let person of persons | paginate: { itemsPerPage: 10, currentPage: page }">
                                <td><span class=" text-muted"> {{ person?.id }}</span></td>
                                <td *ngIf="person?.vote =='CONQUISTADO' "><i class="fas fa-user-check"></i></td>
                                <td *ngIf="person?.vote =='PERDIDO' "> <i class="fas fa-user-slash"></i></td>
                                <td *ngIf="person?.vote =='A_CONQUISTAR' "> <i class="fas fa-eye"></i></td>
                                <td *ngIf="person?.vote == null "></td>
                                <td><span class=" text-muted"> {{ person?.name }} </span>
                                <td><span class=" text-muted"> {{ person?.email }} </span>
                                <td><span class=" text-muted"> {{ person?.phoneNumber }} </span>
                                <td><span class=" text-muted"> {{ person?.users[0].username }} </span>
                                <td class=" table-actions">
                                    <a class="table-action" tooltip="Tornar um usuario" placement="top"
                                       href="javascript:void(0)" (click)="onUser(person.id)">
                                        <i class=" fas fa-user-plus"> </i>
                                    </a>
                                    <a class="table-action" tooltip="Editar" placement="top"
                                       href="javascript:void(0)" (click)="onEdit(person.id)">
                                        <i class=" fas fa-user-edit"> </i>
                                    </a>
                                    <a class=" table-action table-action-delete" tooltip="Deletar"
                                       placement="top" href="javascript:void(0)" (click)="onDelete(person)">
                                        <i class=" fas fa-trash"> </i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ng-template #loadingError>
                            <div *ngIf="error$ | async; else loading">
                                Erro ao carregar. Tente novamente mais tarde.
                            </div>
                            <ng-template #loading>
                                <div class=" card-body">
                                    <div class=" row py-3 align-items-center">
                                        <div class=" col-sm-9">
                                            <h4 class=" mb-0">Carregando...</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-template>
                    </div>

                    <div class=" card-footer py-4 text-center ngx-pagination">
                        <pagination-controls previousLabel="Anterior" nextLabel="Próximo" responsive="true"
                                             (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>